@use './vars' as *;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1b1b1b;
<<<<<<< HEAD
=======
	font-family: sans-serif;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 0.5rem;
>>>>>>> 8ca5aace6fe89acaf062408dd355e9438d53fc8b
}

img {
	display: block;
	max-width: 100%;
}
